<div class="searchbar">
  <div class="searchbar__icon">
    <img src="/icons/icon-search.svg" alt="search">
  </div>
  <div class="searchbar__input">
    <input type="text" placeholder="{{placeholder-text}}">
  </div>
</div>