 <div class="searchbar">
        <div class="searchbar__icon">
            <img src="assets/icons/icon-search.svg" alt="search">
        </div>
        <div class="searchbar__input">
            <input type="text" placeholder="Search fot tools...">
        </div>
    </div>
