<a class="tool" href="#">
  <div class="tool__label">
    {{> @category text="Webdevelopment" color="blue"}}
  </div>
  <div class="tool__content">
    {{> @heading--h2 text="Category"}}
    {{> @text text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}
  </div>
</a>