.tool {
  // width: 500px;
  height: 200px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  background-color: $white;

  .tool__label {
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
  }

  .tool__content {
    height: 200px;;
    grid-area: 1 / 2 / 2 / 3;
    padding: 30px;

    & h2 {
      margin-bottom: 15px;
    }

    & p {
      text-overflow: ellipsis;
      overflow: hidden; 
    }
  }




}