<div class="page">
  {{> @header }}
  <div class="page__content">
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
    {{> @tool }}
{{> @tool }}
{{> @tool }}
{{> @tool }}
{{> @tool }}
  </div>
  {{> @searchbar placeholder-text="Search fot tools..."}}
</div>