// colors
$blue: red;
$orange: #FF9E0F;
$green: #1CA45C;
$red: #DA483B;
$yellow: #FFC718;
$white: #ffffff;
$black: #000000;
$lightgrey: #BFBFBF;
$darkgrey: green;

// font characteristics
$bold: 700;
$medium: 300;
$small: 13px;
$medium: 16px;
$big: 19px;

// import reset stylesheet
@import "./reset.scss";

* {
  font-size: $medium;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body{
  background-color: $lightgrey;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}


// import stylesheets
@import "../../src/components/**/*.scss";